# Epitome of Salt: Sunset Show Notes 
## Author: Kevin Stull
We are going to see how we did at rating the OTJ cards before they came out on arena. 

## Guests
Josh, Nate

## DataSet
https://www.17lands.com/tier_list/5547622369bc4344b90b1cceabdf84b6

Last updated: 2024-06-20 10:32

In [1]:
# Define raters and data file
raters = ['Kevin', 'Nate']
data = 'OTJ_tier_list.csv'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations

# Define raters and data file
raters = ['Kevin', 'Nate']
data = 'OTJ_tier_list.csv'

# Function to read rater ratings
def read_ratings(rater):
    return pd.read_csv(f'data/{rater}.csv')

# Initialize eos DataFrame
eos = pd.DataFrame(columns=['Name', 'Color', 'Rarity'])

# Define the tier to numeric value mapping
tier_num = {'G': 0., 'D-': 1., 'D': 2., 'D+': 3., 
            'C-': 4., 'C': 5., 'C+': 6., 'B-': 7., 
            'B': 8., 'B+': 9., 'A-': 10., 'A': 11., 
            'A+': 12., 'F':0.}

# Read ratings for each rater and merge into eos DataFrame
is_first = True
for rater in raters:
    rater_data = read_ratings(rater)
    if is_first:
        eos['Name'] = rater_data['Name']
        eos['Color'] = rater_data['Color']
        eos['Rarity'] = rater_data['Rarity']
        is_first = False
    eos[rater] = rater_data['Rating']
    eos[f'{rater}_num'] = eos[rater].map(tier_num)

# Drop rows with any missing values
eos = eos.dropna().copy()

# Read the master tier list
master_list = pd.read_csv(f'data/{data}')

# Match names with master tier list and add tiers to eos
eos['Tier'] = eos['Name'].map(dict(zip(master_list['Name'], master_list['Tier'])))
eos['Tier_num'] = eos['Tier'].map(tier_num)

# Dropped entries due to insufficient data 
dropped_entries_initial = eos[eos.isna().any(axis=1)]
print(f"Initial entries to be dropped (due to missing data): {len(dropped_entries_initial)}")
print(dropped_entries_initial)

# Drop rows with missing Tier information
eos = eos.dropna().copy()

# Calculate rating errors for each rater
for rater in raters:
    eos[f'{rater}_error'] = abs(eos['Tier_num'] - eos[f'{rater}_num'])

# Display the final DataFrame
eos

Initial entries to be dropped (due to missing data): 7
                        Name Color Rarity Kevin  Kevin_num Nate  Nate_num  \
81     Neutralize the Guards     B      U    C-        4.0    D       2.0
103  Caught in the Crossfire     R      U     D        2.0   D+       3.0
106          Magebane Lizard     R      U    D+        3.0   D+       3.0
108         Return the Favor     R      U    B+        9.0    D       2.0
288                 Thornado     G      U     G        0.0    D       2.0
300           Imp's Mischief     B      R     G        0.0   C-       4.0
329           Force of Vigor     G      M     G        0.0    G       0.0

    Tier  Tier_num
81    SB       NaN
103   SB       NaN
106   SB       NaN
108   SB       NaN
288   SB       NaN
300   SB       NaN
329   SB       NaN

,Name,Color,Rarity,Kevin,Kevin_num,Nate,Nate_num,Tier,Tier_num,Kevin_error,Nate_error
0,Armored Armadillo,W,C,D,2.0,D+,3.0,D,2.0,0.0,1.0
1,Steer Clear,W,C,C-,4.0,C-,4.0,D+,3.0,1.0,1.0
2,Eriette's Lullaby,W,C,C-,4.0,C-,4.0,D+,3.0,1.0,1.0
3,Outlaw Medic,W,C,C,5.0,C+,6.0,C+,6.0,1.0,0.0
4,Sterling Keykeeper,W,C,C-,4.0,C-,4.0,C,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
361,Grand Abolisher,W,M,G,0.0,G,0.0,D+,3.0,3.0,3.0
362,Ancient Cornucopia,G,M,G,0.0,G,0.0,D+,3.0,3.0,3.0
363,Territory Forge,R,M,G,0.0,G,0.0,F,0.0,0.0,0.0
364,Collector's Cage,W,M,G,0.0,G,0.0,A+,12.0,12.0,12.0
365,Generous Plunderer,R,M,G,0.0,G,0.0,B-,7.0,7.0,7.0

In [5]:
# Create a subset of eos based on Rarity being either 'C' or 'U'
pauper = eos[eos['Rarity'].isin(['C', 'U'])]

# Display the subset
pauper

,Name,Color,Rarity,Kevin,Kevin_num,Nate,Nate_num,Tier,Tier_num,Kevin_error,Nate_error
0,Armored Armadillo,W,C,D,2.0,D+,3.0,D,2.0,0.0,1.0
1,Steer Clear,W,C,C-,4.0,C-,4.0,D+,3.0,1.0,1.0
2,Eriette's Lullaby,W,C,C-,4.0,C-,4.0,D+,3.0,1.0,1.0
3,Outlaw Medic,W,C,C,5.0,C+,6.0,C+,6.0,1.0,0.0
4,Sterling Keykeeper,W,C,C-,4.0,C-,4.0,C,5.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
285,Buried in the Garden,M,U,G,0.0,B-,7.0,B+,9.0,9.0,2.0
286,Murder,B,U,G,0.0,C+,6.0,C+,6.0,6.0,0.0
287,Fling,R,U,G,0.0,C+,6.0,D+,3.0,3.0,3.0
289,Skewer the Critics,R,U,G,0.0,B-,7.0,C,5.0,5.0,2.0
290,Clear Shot,G,U,G,0.0,B,8.0,A-,10.0,10.0,2.0

In [6]:
#TODO Generalize this for rater list
nate_error = pauper['Nate_error'].sum()
kevin_error = pauper['Kevin_error'].sum()
print(f'Kevin error: {kevin_error}')
print(f'Nate error: {nate_error}')

Kevin error: 402.0
Nate error: 381.0